MONGODB_URI=mongodb+srv://chatterbox:8%40AKNyAZujt8Lku@cluster0.rtrbhtc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=chatterbox_db
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:9002
